.container{
  margin: auto;
  margin-top: 60px;
  border: 2px solid black;
  width:25vw;
  position: relative;
  height: 55%;
  overflow: hidden;
  box-shadow: 10px 20px 15px rgb(74, 80, 82);
  border-radius: 12px;
  }
  .content {
    /* position: relative; */
    /* width: 99%; */
    height: 40vh;
    text-align: center;
    display: block;
    
  }
  .content img{
    width:25vw ;
    height: 40vh;
  }
  
  .text{
  display: inline;
  width: 100%;
  text-align: center;
  }
  
  .read-or-hide{
  color: rgb(21, 27, 205);
  cursor: pointer;
  text-decoration: underline;
  }
  .button{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
  
  }
 .btn1,.btn2{
    background-color:dodgerblue;
    font-size: 18px;
    border-radius:8px;
    cursor: pointer;
  }